<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{description | default('ApARTmanházak Siofok')}}">
        <title>{{title | default('ApARTmanházak Siofok')}}</title>
        <!-- <link rel="manifest" href="/manifest.json"> -->
        <link id="ficon" rel="shortcut icon" type="image/png" href="/static/icon-128.png">
        <link rel="prefetch" href="/static/cas-logo-pink.svg">
        <link rel="preconnect" href="https://www.googletagmanager.com" crossorigin>
        <meta property="og:title" content="ApARTmanházak Siofok">
        <meta property="og:description" content="{{description | default('ApARTmanházak Siofok')}}">
        <meta property="og:image" content="https://www.apartmanhazaksiofok.hu/static/img/mozaik-02.jpg">
        <meta property="og:url" content="https://www.apartmanhazaksiofok.hu{{ogurl}}">
        <meta property="og:type" content="website">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="stylesheet" href="/css/style.css?v=05" type="text/css" media="screen">
        <meta name="msapplication-TileColor" content="#da532c">

    </head>
    <body>
        {% block header %}
            {% include './header.html' %}
        {%endblock%}
        <div class="page">
            {% block body %}{% endblock %}
        </div>
        {% include './footer.html' %}
    </body>
</html>