{% extends 'html/tpl/base.html' %}

{% block body %}
<div class="block-container">
    <section>
        <div class="house-choose">
        <a href="#dali-house"><img src="/static/img/mozaik-01.jpg" width="940" height="788" alt="ApARTmanházak Siófok"></a>
        <a href="#miro-house"><img src="/static/img/mozaik-02.jpg" width="940" height="788" alt="ApARTmanházak Siófok"></a>
        </div>
    </section>

    <div class="house" id="dali-house">
        <h2>Dali ház</h2>
        <img class="house-hero-img" src="/static/img/house-dali/exterior-thumb-960.jpg" alt="Dali ház">
        <div class="house-text-01">200 méterre a szabadstrandtól</div>
        <p>Üdülőháznak épült, meditterán jellegű  épület klasszikus részletekkel ötvözve. Két szintes ház, melyben a földszinten lett kialakítva egy igen tágas studió, az emleten pedig két nagyobb apartman található. Minden apartman külön bejárattal. Az építész külön ügyellt arra, hogy a vendégek egymást ne zavarják a pihenésben.  Továbbá figyelmet fordítottunk a tágas nappalikra, ahol a családok kényelmesen étkezhetnek, vagy társasjátékozhatnak, tévézhetnek a sík képernyős okos TV-én. A kertben egy telejesen elszeparált különálló ház kapott még helyet, mely amolyan romantikus fészek.</p>
        <ul>
            <li>Wifi</li>
            <li>Kerti sütőgető lehetőség</li>
            <li>Homokozó a kicsiknek</li>
            <li>Tágas apartmanok</li>
            <li>Terasz illetve erkélyek minden apartmanhoz</li>
            <li>Apartmanok már 30000,- forint / éjszakától</li>
        </ul>

Hosszú és rövidtávú foglaláshoz lépjen kapcsolatba velünk! <a class="click-here" href="mailto:apartmanhazaksiofok@gmail.com">Kattintson ide.</a>.

        <h3>DALI HÁZ<br>bézs apartman</h3>
        <section>
            <div data-gallery="true" class="intro-and-floor-plan image-gallery">
                <a href="/static/img/house-dali/apartman-bezs/hero.jpg">
                    <img width="960" height="960"  loading="lazy" src="/static/img/house-dali/apartman-bezs/hero-thumb-960.jpg" alt="bézs apartman">
                </a>
                <a href="/static/img/house-dali/apartman-bezs/floor-plan.jpg">
                    <img loading="lazy" src="/static/img/house-dali/apartman-bezs/floor-plan-thumb-960.jpg" class="floor-plan-thumb" alt="alaprajz">
                </a>
            </div>
        </section>
        <section>
            {% set gallerypath="/static/img/house-dali/apartman-bezs/gallery/" %}
            {% set galleryitems=houses.dali.bezs.gallery %}
            {% include 'html/tpl/gallery.html' %}
        </section>

        <h3>DALI HÁZ <br> Lila apartman</h3>
        <section>
            <div data-gallery="true" class="intro-and-floor-plan image-gallery">
                <a href="/static/img/house-dali/apartman-lila/hero.jpg">
                    <img width="960" height="960"  loading="lazy" src="/static/img/house-dali/apartman-lila/hero-thumb-960.jpg" alt="lila apartman">
                </a>
                <a href="/static/img/house-dali/apartman-lila/floor-plan.jpg">
                    <img loading="lazy" src="/static/img/house-dali/apartman-lila/floor-plan-thumb-960.jpg" class="floor-plan-thumb" alt="alaprajz">
                </a>
            </div>
        </section>
        <section>
            {% set gallerypath="/static/img/house-dali/apartman-lila/gallery/" %}
            {% set galleryitems=houses.dali.lila.gallery %}
            {% include 'html/tpl/gallery.html' %}
        </section>

        <h3>DALI HÁZ <br> Piros apartman</h3>
        <section>
            <div data-gallery="true" class="intro-and-floor-plan image-gallery">
                <a href="/static/img/house-dali/apartman-piros/hero.jpg">
                    <img width="960" height="960"  loading="lazy" src="/static/img/house-dali/apartman-piros/hero-thumb-960.jpg" alt="piros apartman">
                </a>
                <a href="/static/img/house-dali/apartman-piros/floor-plan.jpg">
                    <img loading="lazy" src="/static/img/house-dali/apartman-piros/floor-plan-thumb-960.jpg" class="floor-plan-thumb" alt="alaprajz">
                </a>
            </div>
        </section>
        <section>
            {% set gallerypath="/static/img/house-dali/apartman-piros/gallery/" %}
            {% set galleryitems=houses.dali.piros.gallery %}
            {% include 'html/tpl/gallery.html' %}
        </section>

        <h3>DALI HÁZ <br> Zöld apartman</h3>
        <section>
            <div data-gallery="true" class="intro-and-floor-plan image-gallery">
                <a href="/static/img/house-dali/apartman-zold/hero.jpg">
                    <img width="960" height="960"  loading="lazy" src="/static/img/house-dali/apartman-zold/hero-thumb-960.jpg" alt="zöld apartman">
                </a>
                <a href="/static/img/house-dali/apartman-zold/floor-plan.jpg">
                    <img loading="lazy" src="/static/img/house-dali/apartman-zold/floor-plan-thumb-960.jpg" class="floor-plan-thumb" alt="alaprajz">
                </a>
            </div>
        </section>
        <section>
            {% set gallerypath="/static/img/house-dali/apartman-zold/gallery/" %}
            {% set galleryitems=houses.dali.zold.gallery %}
            {% include 'html/tpl/gallery.html' %}
        </section>
    </div>

    <div class="house" id="miro-house">
        <h2>Miro ház</h2>
        <img class="house-hero-img" width="960" height="960" src="/static/img/house-miro/exterior-thumb-960.jpg" alt="Miro ház">
        <div class="house-text-01">150 méterre a szabadstrandtól</div>
        <p>Üdülőháznak épült, modern épület klasszikus részletekkel ötvözve. Két szintes ház, melyben a két szomszédos, apartman egymás tükörképeként lettek kialakítva, külön bejárattal. Az építész külön ügyellt arra, hogy a vendégek egymást ne zavarják a pihenésben.  Továbbá figyelmet fordítottunk a tágas nappalira, ahol a családok kényelmesen étkezhetnek, vagy társasjátékozhatnak, tévézhetnek a síkképernyős okos TV-ken.</p>
        <ul>
            <li>parkolás zárt kertben</li>
            <li>Wifi</li>
            <li>Kerti sütőgető lehetőség</li>
            <li>Homokozó a kicsiknek</li>
            <li>Tágas apartmanok</li>
            <li>Apartmanok már 35000- forint / éjszakától</li>
        </ul>

Hosszú és rövidtávú foglaláshoz lépjen kapcsolatba velünk! <a class="click-here" href="mailto:apartmanhazaksiofok@gmail.com">Kattintson ide.</a>.

        <h3>MIRO HÁZ <br> Kék apartman</h3>
        <section>
            <div data-gallery="true" class="intro-and-floor-plan image-gallery">
                <a href="/static/img/house-miro/apartman-kek/hero.jpg">
                    <img width="960" height="960"  loading="lazy"  width="960" height="960"  src="/static/img/house-miro/apartman-kek/hero-thumb-960.jpg" alt="kék apartman">
                </a>
                <a href="/static/img/house-miro/apartman-kek/floor-plan.jpg">
                    <img loading="lazy" src="/static/img/house-miro/apartman-kek/floor-plan-thumb-960.jpg" class="floor-plan-thumb" alt="alaprajz">
                </a>
            </div>
        </section>
        <section>
            {% set gallerypath="/static/img/house-miro/apartman-kek/gallery/" %}
            {% set galleryitems=houses.miro.kek.gallery %}
            {% include 'html/tpl/gallery.html' %}
        </section>

        <h3>MIRO HÁZ <br> Sárga apartman</h3>
        <section>
            <div data-gallery="true" class="intro-and-floor-plan image-gallery">
                <a href="/static/img/house-miro/apartman-sarga/hero.jpg">
                    <img width="960" height="960"  loading="lazy" src="/static/img/house-miro/apartman-sarga/hero-thumb-960.jpg" alt="kék apartman">
                </a>
                <a href="/static/img/house-miro/apartman-sarga/floor-plan.jpg">
                    <img loading="lazy" src="/static/img/house-miro/apartman-sarga/floor-plan-thumb-960.jpg" class="floor-plan-thumb" alt="alaprajz">
                </a>
            </div>
        </section>
        <section>
            {% set gallerypath="/static/img/house-miro/apartman-sarga/gallery/" %}
            {% set galleryitems=houses.miro.sarga.gallery %}
            {% include 'html/tpl/gallery.html' %}
        </section>
    </div>
</div>
{% endblock %}