{% extends 'html/tpl/base.html' %}

{% block body %}
<div class="block-container">

</div>
<div id="home" class="page-header__container__beach">
    <img class="page-header__logo" src="/static/img/misc/logo-crop.png" alt="siófoki apARTmanházak az Aranyparton">
</div>
<div class="block-container">
    <h1 class="csaladi">Családi, baráti vakáció gyönyörű környezetben</h1>
<div id="book" class="page-header__big">siófoki apARTmanházak az Aranyparton</div>
    <div class="page-header__container">
        <p>
            Két tágas apartmanházunk hétfői érkezéssel várja Önt és családját, barátait Siófokon, a Balaton déli partjának nyüzsgő fővárosában, mégis nyugodt, csendes környezetben, mindössze pár lépésre Balatontól.
            </p>
        <div><a class="click-here" href="#miro-house">Miro</a> és a <a class="click-here" href="#dali-house">Dali</a>
            házaink apartmanjaiban minden adott a tökéletes nyaraláshoz.</div>
            <div id="appartman-embed-iframe-wrapper">
                <iframe
                    id="appartman-embed-iframe"
                    src="https://foglalas.appartman.hu/siofok/embed"
                    width="100%"
                    scrolling="yes"
                ></iframe>
            </div>
            <script src="https://foglalas.appartman.hu/embed-script-min.js"></script>
        <section>
            <div class="house-choose">
                <a href="#miro-house"><img src="/static/img/miro-mozaik2.jpg" width="940" height="788"
                        alt="ApARTmanházak Siófok"></a>
                <a href="#dali-house"><img src="/static/img/dali-mozaik2.jpg" width="940" height="788"
                        alt="ApARTmanházak Siófok"></a>
            </div>
        </section>
        <p>Élvezze a nyugalmat és a privát szférát 6 arpartmanunk egyikében. Választhat stúdió, 2 és 3 szobás
            apartmanjaink közül, melyekben tágas terek biztosítanak gondtalan pihenést az egész családnak. Otthonos
            nappalik várják, ahol kényelmesen összejöhetnek és együtt tölthetik az estét társasjátékozva, beszélgetve,
            borozgatva. Hálószobáink pedig pihentető alvást nyújtanak minden vendégünknek. </p>
        <p>Nálunk a kutyusok is szívesen látott vendégek.</p>
        <p>A 4 km-es Aranypart strandja ingyenesen látogatható, amely várja Önt széles partszakasszal, vízi sportolási
            lehetőségekkel, éttermekkel, büfékkel. Pár perces sétával elérhető a legkisebbeknek kialakított homokos
            beach hangulatot idéző öböl. </p>
        <p>Tökéletes választás családoknak, pároknak és baráti társaságoknak egyaránt.</p>
        <p>Fedezze fel a Balaton szépségét és töltődjön fel nálunk!</p>
        <a class="click-here" href="mailto:apartmanhazaksiofok@gmail.com">foglaljon még ma itt!</a>
    </div>


    
    <div class="house" id="miro-house">
        <h2>Miro ház</h2>
        <div class="house-text-01">150 méterre a szabadstrandtól</div>
        <img class="house-hero-img" width="960" height="960" src="/static/img/house-miro/exterior-thumb-960.jpg"
        alt="Miro ház">
        <p>Üdülőháznak épült, modern épület klasszikus részletekkel ötvözve. Két szintes ház, melyben a két szomszédos,
            apartman egymás tükörképeként lettek kialakítva, külön bejárattal. Az építész külön ügyellt arra, hogy a
            vendégek egymást ne zavarják a pihenésben. Továbbá figyelmet fordítottunk a tágas nappalira, ahol a családok
            kényelmesen étkezhetnek, vagy társasjátékozhatnak, tévézhetnek a síkképernyős okos TV-ken.</p>
            <ul>
                <li>parkolás zárt kertben</li>
            <li>Wifi</li>
            <li>Kerti sütőgető lehetőség</li>
            <li>Homokozó a kicsiknek</li>
            <li>Tágas apartmanok</li>
            <li>Apartmanok már 35000- forint / éjszakától</li>
        </ul>

        Hosszú és rövidtávú foglaláshoz lépjen kapcsolatba velünk! <a class="click-here"
        href="#book">Kattintson ide</a>
        
        <h3 id="miro-kek">MIRO HÁZ <br> Kék apartman <br> <span class="apartman-type">két hálószobás</span></h3>
        <section>
            <img width="1920" height="1080" loading="lazy" src="/static/img/house-miro/apartman-kek/hero.jpg"> 
            <div class="intro-and-floor-plan">
                {% include 'html/tpl/apartman/miro-kek.html' %}
                <a href="/static/img/house-miro/apartman-kek/floor-plan.jpg">
                    <img loading="lazy" width="960" height="751" src="/static/img/house-miro/apartman-kek/floor-plan-thumb-960.jpg"
                    class="floor-plan-thumb" alt="alaprajz">
                </a>
            </div>
        </section>
        <section>
            {% set gallerypath="/static/img/house-miro/apartman-kek/gallery/" %}
            {% set galleryitems=houses.miro.kek.gallery %}
            {% include 'html/tpl/gallery.html' %}
        </section>
        
        <h3 id="miro-sarga">MIRO HÁZ <br> Sárga apartman <br> <span class="apartman-type">két hálószobás</span></h3>
        <section>
            <img width="1920" height="1080" loading="lazy" src="/static/img/house-miro/apartman-sarga/hero.jpg"> 
            <div class="intro-and-floor-plan">
                {% include 'html/tpl/apartman/miro-sarga.html' %}
                <a href="/static/img/house-miro/apartman-sarga/floor-plan.jpg">
                    <img loading="lazy" width="960" height="751" src="/static/img/house-miro/apartman-sarga/floor-plan-thumb-960.jpg"
                    class="floor-plan-thumb" alt="alaprajz">
                </a>
            </div>
        </section>
        <section>
            {% set gallerypath="/static/img/house-miro/apartman-sarga/gallery/" %}
            {% set galleryitems=houses.miro.sarga.gallery %}
            {% include 'html/tpl/gallery.html' %}
        </section>
    </div>
    <div class="house" id="dali-house">
        <h2>Dali ház</h2>
        <div class="house-text-01">200 méterre a szabadstrandtól</div>
        <img class="house-hero-img" src="/static/img/house-dali/exterior-thumb-960.jpg" alt="Dali ház">
        <p>Üdülőháznak épült, meditterán jellegű épület klasszikus részletekkel ötvözve. Két szintes ház, melyben a
            földszinten lett kialakítva egy igen tágas studió, az emleten pedig két nagyobb apartman található. Minden
            apartman külön bejárattal. Az építész külön ügyellt arra, hogy a vendégek egymást ne zavarják a pihenésben.
            Továbbá figyelmet fordítottunk a tágas nappalikra, ahol a családok kényelmesen étkezhetnek, vagy
            társasjátékozhatnak, tévézhetnek a sík képernyős okos TV-én. A kertben egy telejesen elszeparált különálló
            ház kapott még helyet, mely amolyan romantikus fészek.</p>
        <ul>
            <li>Wifi</li>
            <li>Kerti sütőgető lehetőség</li>
            <li>Homokozó a kicsiknek</li>
            <li>Tágas apartmanok</li>
            <li>Terasz illetve erkélyek minden apartmanhoz</li>
            <li>Apartmanok már 30000,- forint / éjszakától</li>
        </ul>
    
        Hosszú és rövidtávú foglaláshoz lépjen kapcsolatba velünk! <a class="click-here"
            href="#book">Kattintson ide</a>
    
        <h3 id="dali-bezs">DALI HÁZ<br>Bézs apartman<br><span class="apartman-type">három hálószobás</span></h3>
        <section>
            <img width="1920" height="1080" loading="lazy" src="/static/img/house-dali/apartman-bezs/hero.jpg"> 
            <div class="intro-and-floor-plan">
                {% include 'html/tpl/apartman/dali-bezs.html' %}
                <a href="/static/img/house-dali/apartman-bezs/floor-plan.jpg">
                    <img loading="lazy" width="960" height="751" src="/static/img/house-dali/apartman-bezs/floor-plan-thumb-960.jpg"
                    class="floor-plan-thumb" alt="alaprajz">
                </a>
            </div>
        </section>
        <section>
            {% set gallerypath="/static/img/house-dali/apartman-bezs/gallery/" %}
            {% set galleryitems=houses.dali.bezs.gallery %}
            {% include 'html/tpl/gallery.html' %}
        </section>
    
        <h3 id="dali-lila">DALI HÁZ <br> Lila apartman <br> <span class="apartman-type">két hálószobás</span> </h3>
        <section>
            <img width="1920" height="1080" loading="lazy" src="/static/img/house-dali/apartman-lila/hero.jpg"> 
            <div class="intro-and-floor-plan">
                {% include 'html/tpl/apartman/dali-lila.html' %}
                <a href="/static/img/house-dali/apartman-lila/floor-plan.jpg">
                    <img loading="lazy" width="960" height="751" src="/static/img/house-dali/apartman-lila/floor-plan-thumb-960.jpg"
                    class="floor-plan-thumb" alt="alaprajz">
                </a>
            </div>
        </section>
        <section>
            {% set gallerypath="/static/img/house-dali/apartman-lila/gallery/" %}
            {% set galleryitems=houses.dali.lila.gallery %}
            {% include 'html/tpl/gallery.html' %}
        </section>
    
        <h3 id="dali-piros">DALI HÁZ <br> Piros Studió <br> <span class="apartman-type">egylégterű</span></h3>
        <section>
            <img width="1920" height="1080" loading="lazy" src="/static/img/house-dali/apartman-piros/hero.jpg"> 
            <div class="intro-and-floor-plan">
                {% include 'html/tpl/apartman/dali-piros.html' %}
                <a href="/static/img/house-dali/apartman-piros/floor-plan.jpg">
                    <img loading="lazy" width="960" height="751" src="/static/img/house-dali/apartman-piros/floor-plan-thumb-960.jpg"
                    class="floor-plan-thumb" alt="alaprajz">
                </a>
            </div>
        </section>
        <section>
            {% set gallerypath="/static/img/house-dali/apartman-piros/gallery/" %}
            {% set galleryitems=houses.dali.piros.gallery %}
            {% include 'html/tpl/gallery.html' %}
        </section>
    
        <h3 id="dali-zold">DALI HÁZ <br> Zöld apartman<br><span class="apartman-type">egylégterű</span></h3>
        <section>
            <img width="1920" height="1080" loading="lazy" src="/static/img/house-dali/apartman-zold/hero.jpg"> 
            <div class="intro-and-floor-plan">
                {% include 'html/tpl/apartman/dali-zold.html' %}
                <a href="/static/img/house-dali/apartman-zold/floor-plan.jpg">
                    <img loading="lazy" width="960" height="751" src="/static/img/house-dali/apartman-zold/floor-plan-thumb-960.jpg"
                    class="floor-plan-thumb" alt="alaprajz">
                </a>
            </div>
        </section>
        <section>
            {% set gallerypath="/static/img/house-dali/apartman-zold/gallery/" %}
            {% set galleryitems=houses.dali.zold.gallery %}
            {% include 'html/tpl/gallery.html' %}
        </section>
    </div>
</div>
<div class="block-container">
    <h2 class="section-header" id="neighborhood">Környék és programok</h2>
    <ul>
        <li>Buszmegálló az épületektől 50 méterre található</li>
        <li>Kis közért 100 méter, 3-5 perc sétára található</li>
        <li>A vasút állomás 15 perc sétára található</li>
        <li>Szabadstrand 150-200 méterre található, ahol rengeteg étkezési lehetőség van.</li>
        <li>Bella Állatpark 2,7km</li>
        <li>Bebo Aquapark 300 méter</li>

    </ul>
</div>
<div class="block-container">
    <h2 class="section-header" id="booking">Árak és foglalási információk</h2>
    <p>Áraink függenek foglaltságtól, és foglalni kívánt időszaktól, foglalás hosszától, vendégek számától.</p>
    <p>Áraink az általános forgalmi adót tartalmazzák. 18 év feletti vendégek számára az IFA (idegenforgalmi adó) külön fizetendő, melynek mértéke egész évben 550 Ft/fő/éj.</p>
    <h3>Foglalási feltételek</h3>
    <ul>
        <li>Június 1. és augusztus 31. között apartmanjaink csak minimum 6 éjszakás időszakra foglalhatóak.</li>
        <li>Érkezés minden héten hétfőn lehetséges.</li>
        <li>Távozás minden héten vasárnap illetve hétfőn lehetséges.  (Talán szokatlan a turnusváltás időpontja, de úgy gondoljuk, hogy vendégeink számára egy nyugodtabb nyaralást tudunk ajánlani. A hétvégekre nehezedő, a déli tengerekhez és a Balatonhoz irányuló megnövekedett forgalom és abból kialakuló dugók miatt, esett a választásunk a keddi turnusváltásra, evvel elkerülve a bosszantó érkezési és indulási bosszúságot.)</li>
        <li>A teljes ház foglalása esetén kérje egyedi ajánlatunkat.</li>
    </ul>
    <h3>Érkezés és távozás</h3>
    <ul>
        <li>Érkezés 16 órától 20 óráig, távozás 8 - 10 óra között.</li>
        <li>Ettől eltérő igény esetén előzetes egyeztetés szükséges és külön díjat számíthatunk fel.</li>
    </ul>
    <h3>Kisállatokra vonatkozó házirend</h3>
    <ul>
        <li>Csak szobatiszta és 10 kilogramot meg nem haladó kisállat hozható az apartmanba. </li>
        <li>A kertben csak pórázon tartható, hogy a házban nyaraló vendégek nyugalmát ne zavarja. </li>
        <li>A kisállat ürülékét, kérem, eltávolítani az apartmanház területéről. </li>
    </ul>
    <h3>Lemondási feltételek</h3>
    <ul>
        <li>Érkezés előtti 30. napig a lemondási díj nincs, az előleget visszafizetjük, érkezés előtti 20 napon belül a lemondási díj az előleg 100%-a.</li>
    </ul>
    <h3>Egyéb</h3>
    <ul>
        <li>Babaágyat, etetőszéket, babakádat díjmentesen biztosítunk a készlet erejéig. Kérjük, foglaláskor előre jelezze igényét.</li>
    </ul>
</div>

<div class="block-container">
    <h2 class="section-header" id="impresszum">Impresszum</h2>
    <p>
    Miro Apartmanház: 8600 Siófok, Szent László utca 119.<br>
    Dali Apartmanház: 8600 Siófok, Szent László utca 150.<br>
    email: <a href="mailto:apartmanhazaksiofok@gmail.com">apartmanhazaksiofok@gmail.com</a><br>
    Mobil: <a href="tel:+36705401107">+36705401107</a><br>
    <a href="https://www.facebook.com/apartmanhazakMiroesDali">facebook</a><br>
    <br>
    NTKA szám: EG19023010<br>
    <br>
    Számlak kibocsátó: Telmat Kft.<br> 
    Adószáma: 12057384-2-41<br>
    HUF bankszámla szám: HU93 1040 2166 2163 5676 0000 0000<br>
    EUR bankszamla szam: HU17 1040 2166 4952 5751 5552 1039<br>
    Telmat kft - 1995ben alakult, stabil pénzügyi cég budapesti székhellyel, ingatlankezeléssel és vállalat szervezési taácsadassal foglalkozik <br>
    <br>
    <br>
    <br>
    Adatvedelimi nyilatkoyatunk itt talalható. AFSZ itt tölthető le. <br>
    </p>

</div>
<div id="image-view" class="image-view">
    <img class="image-view__image" src="" alt="">
    <img class="image-view__close-icon" src="/static/img/svg/close-icon.svg" alt="close">
</div>
<script>
    (()=>{
        const img = document.querySelector(".image-view__image")
        const galleries = Array.from(document.querySelectorAll('.image-gallery'))
        galleries.forEach(g => {
            Array.from(g.querySelectorAll('a')).forEach(a => {
                a.addEventListener('click', e => {
                    e.preventDefault()
                    document.getElementById("image-view").classList.add("open")
                    img.setAttribute("src", a.getAttribute("href"))
                })
            })
        })
        document.querySelector(".image-view__close-icon").addEventListener('click', ()=>{
            document.getElementById("image-view").classList.remove("open")

        })
    })()
</script>
{% endblock %}