html, body {
    font-family: sans-serif;
    background-color: var(--color-bg);
    color: black;
    line-height: 1.3;
    font-family:'OpenSans','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--color-brand);
    margin: 0;
    padding: 0;

}

a, address {
    color: inherit;
    font-style: inherit;
}

h1,h2,h3,h4 {
    color: var(--color-brand);
    font-weight: normal;
    line-height: 1.1;
    font-family: 'BeachResort', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    font-size: 1.7rem;
}


img {
    display: block;
    width: 100%;
    height: 100%;
}

section {
    margin: 2rem auto;
}

.section-header {
    margin-top: 4rem;
    font-size: 2.5rem;
    text-align: center;
    scroll-margin-top: 8rem;

}

.page {
    margin-top: 7rem;
}

.block-container {
    max-width: min(calc(100% - 2rem), 960px);
    margin: 0 auto;
}

.csaladi {
    font-family:'OpenSans','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center  ;
}