html, body {
    font-family: sans-serif;
    background-color: var(--color-bg);
    color: black;
    line-height: 1.3;
    font-family:'OpenSans','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--color-brand);

}

a, address {
    color: inherit;
    font-style: inherit;
}

h1,h2,h3,h4 {
    color: var(--color-brand);
    font-weight: normal;
    line-height: 1.1;
    font-family: 'BeachResort', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


img {
    display: block;
    height: 100%;
    max-width: 100%;
    object-fit: contain;
}

section {
    margin: 2rem auto;
}

.page {
    margin-top: 7rem;
}

.block-container {
    max-width: min(calc(100% - 1rem), 960px);
    margin: 0 auto;
}