html, body {
    font-family: sans-serif;
}

img {
    display: block;
    height: 100%;
    max-width: 100%;
    object-fit: contain;
}

section {
    margin: 2rem auto;
}

.block-container {
    max-width: min(calc(100% - 2rem), 960px);
    margin: 0 auto;
}