@font-face {
    font-family: "OpenSans";
    src:
      url("/static/font/OpenSans-Medium.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
  font-family: "OpenSans";
  src:
    url("/static/font/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
    font-family: "BeachResort";
    src:
      url("/static/font/beach-resort.ttf") format("truetype");
    font-weight: normal;
}
