.header {
    position: fixed;
    top: 0;
    left:0;
    right:0;
    padding: 0.5rem 1rem;
    background-color: var(--color-bg);
}

.header-address {
    font-size: 12px;
    padding-left: 0;
}

.header-address li{
    list-style-type: none;
}

@media screen and (min-width: 480px) {
    .header-address {
        font-size: 1rem;
    }
}

.header__items {
    display: flex;
    justify-content: space-between;
}