.house-choose {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(400px, calc(100% - 1rem)), 1fr));
    gap: 1rem;
    max-width: 100%;
}
.house-choose a {
    display: block;
}

.house {
    scroll-margin-top: 8rem;
}

.house h2 {
    text-transform: uppercase;
    font-size: 3.5rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    text-align: center;
}

.house h3 {
    scroll-margin-top: 8rem;
    margin-top: 5rem;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    text-align: center;
}

.house .house-hero-img {
    width: 100%;
    object-fit: cover;
}

.house .apartman-type {
    font-family: 'OpenSans','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.house .house-text-01 {
    text-align: center;
    color: var(--color-brand);
    margin: 1rem;
    font-family: 'BeachResort', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
}
