.nav-wrap {
    position: relative;
    right: -1rem;
    min-width: 2rem;
}

.nav-wrap #nav-toggle {
    display: none;
}

.nav__body {
    display: none;
    background-color: white;
    padding: 1rem;
    min-width: 250px;
    max-width: calc(100vw - 2rem);
    right: 0;
    position: absolute;
}
.nav__body.open {
    display: block;
}

.nav__body a {
    line-height: 1.8;
    text-wrap: nowrap;
    text-decoration: none;
}

.nav__body li {
    list-style-type:square;
}

.nav__body>ul>li {
    font-family: "BeachResort";
    font-size: 1.5rem;
}

.nav__icon {
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    background-color: white;
}

.nav-toggle .icon-open{
    display: block;
}

.nav-toggle .icon-close{
    display: none;
}

.nav-toggle.open .icon-open{
    display: none;
}

.nav-toggle.open .icon-close{
    display: block;
}