
.page-header__container__beach .page-header__logo {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    object-fit: contain;
    padding: 1rem;
    margin-bottom: 8rem;
    background-color: white;
    border-radius: 100%;
}
.page-header__small-logo-wrap {
    display: none;
    max-height: 50px;
    max-width: 60px;
}
@media screen and (min-width:430px) {
    .page-header__small-logo-wrap {
        display: block;
    }
}
@media screen and (min-width:600px) {
    .page-header__small-logo-wrap {
        max-height: 100px;
        max-width: 120px;
    }
}
.page-header__small-logo-wrap img {
    object-fit: contain;
}

.page-header__container {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.page-header__container__beach h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.page-header__container__beach {
    display: flex;
    align-items: center;
}

.page-header__container__beach {
    background-color: aqua;
    background-image: url("/static/img/misc/beach.jpg");
    background-position: center;
    padding: 2rem;
    min-height: 400px;
}

.page-header {
    text-align: center;
    font-size: 16px;
    margin: 2rem auto;
}

.page-header__big {
    font-size: 1.5em;
    font-family:'OpenSans','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
}

@media screen and (min-width: 480px) {
    .page-header {
        font-size: 30px;
    }
}